.containersConfirm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}
.headline {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.successH1{
  font-size: 36px;
}
.success{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 height: 80vh;
}
.mainAdress {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.paymentSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.addressWrapper {
  min-height: 50px;
  display: flex;
  margin-right: 10px;
  width: 90%;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(214, 214, 214, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.payItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: 1px solid rgb(216, 216, 216);
  margin: 3px;
  border-radius: 4px;
}
.payItem > h5 {
  font-size: 12px;
  margin-left: 10px;
}
.containerBill {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
}
.containeritems {
  box-shadow: 3px 4px 5px 2px rgb(230, 230, 230);
  padding: 20px;
}
.itemCheck {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.btnGhor {
  width: 100%;
}
@media screen and (max-width: 692px) {
  .containersConfirm {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .containerBill {
    display: flex;
    margin: 20px;
    flex-direction: column;
  }
  .paymentSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
