.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  padding: 50px 0px;
}
.textCon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 80px;
}
.infosec {
  margin-top: -195px;
  padding: 10px;
}
.infosec > h1 {
  color: white;
  font-size: 29px;
  font-weight: 700;
}
.infosec > p {
  color: rgb(201, 201, 201);
  font-size: 13px;
  font-weight: 400;
}
.imageChar {
  height: 236px;
  border-radius: 15px;
  display: table;
  width: 100%;
  background-position: center top;

  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}
.imageChar1 {
  height: 236px;
  border-radius: 15px;
  display: table;
  width: 100%;
  background-position: center top;

  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1607083206203-821b1f96c7f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=791&q=80");
}
.imageChar2 {
  height: 236px;
  border-radius: 15px;
  display: table;
  width: 100%;
  background-position: center top;

  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/lakhrifood/image/upload/v1628140425/assests/10-Coupon-Vector_rz2qmv.png");
}

.textCon > h1 {
  font-size: 42px;
  width: 60%;
  font-weight: 600;
}
.btnChar {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.542);
  font-size: 18px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}
.textCon > p {
  font-size: 19px;
  width: 60%;
  margin-top: 30px;
}
.blueTxt {
  color: #179bd7;
}
.imgSection {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchField {
  margin-top: 30px;
}
.cataContainer > h1 {
  margin-left: 50px;
  font-size: 32px;
  font-weight: bold;
}

.cataCon {
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

/* width */
.cataCon::-webkit-scrollbar {
  display: none;
}

/* Track */
.cataCon::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 5px;
}

/* Handle */
.cataCon::-webkit-scrollbar-thumb {
  background: #179bd7;
  border-radius: 5px;
}

/* Handle on hover */
.cataCon::-webkit-scrollbar-thumb:hover {
  background: #179bd7;
}

.scrollBtn {
  height: 50px;
  background-color: transparent;
  font-size: 40px;
}

.scrollBtn:focus {
  outline: none;
  box-shadow: none;
}

.categoryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pizzaIn {
  margin-left: -120px;
  height: 329px;
}
.Items {
  height: fit-content;
  padding: 20px 0px;
  width: 158px;
  margin-right: 50px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item {
  height: 137px;
  width: 95%;
  background-color: #b2d6e7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.item > h1 {
  color: #179bd7;
  margin-top: 20px;
  font-weight: 900;
}
.promotionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Proitems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Proitem {
  width: 280px;
  border-radius: 15px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  /* box-shadow: 5px 3px 7px 2px #e8e8e8; */
}
.Proitem > h1 {
  text-align: left !important;
  font-size: 26px;
  font-weight: 500;
  padding: 5px;
}

.Proitem > p {
  text-align: left !important;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 11px;
}
.headingpro {
  font-size: 33px;
  margin-left: 50px;
  margin-bottom: 30px;
  color: #179bd7;
}
.mostOrdered {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mostORderTitle {
  font-size: 32px;
  margin-left: 10px;
  margin-bottom: 40px;
  font-weight: 700;
}
.mostContainer {
  margin-top: 60px;
}
.headingproClr {
  color: #179bd7;
}
.QuestionsContainer {
  display: grid;
  grid-template-columns: 3fr 4fr;
}
.imgQuestion {
  margin-left: -250px;
}
.qna {
  padding: 70px;
}
.qnaTitle {
  font-size: 32px;
  font-weight: 700;
}
.collapsContainer {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(187, 187, 187);
}
.collapsDet {
  margin-top: 20px;
}
.icon {
  font-size: 22px;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .headerContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .Proitem {
    height: 390px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 5px 3px 7px 2px #e8e8e8;
  }
  .Proitem > h1 {
    font-size: 17px;
    font-weight: 500;
  }
  .promotionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .mostOrdered {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .textCon {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px;
  }
}
@media screen and (max-width: 750px) {
  .mostOrdered {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .promotionsContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .cataContainer {
    margin-top: 60px;
  }
  .textCon {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px;
  }
  .QuestionsContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
