.container {
}
.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 800px;
}
.textCon {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 80px;
}
.textCon > h1 {
  font-size: 42px;
  width: 60%;
  font-weight: 600;
}
.textCon > p {
  font-size: 19px;
  width: 60%;
  margin-top: 30px;
}
.blueTxt {
  color: #179bd7;
}
.imgSection {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchField {
  margin-top: 30px;
}
