.container {
  width: 100%;
  background: rgb(247, 247, 247);
  min-height: 100vh;
}

.container > h1 {
  margin-left: 30px;
  font-size: 23px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.conDiv {
  display: flex;
  align-items: center;
}
.profilePic {
  margin-right: 10px;
  border-radius: 50%;
}
.conUL {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
}
.conULHead {
  padding-top: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid rgb(218, 218, 218);
  padding: 20px;
}
