.checked {
    color: orange !important;
}

.starIcon {
    margin-right: 2px;
    color: #d8d5d5;
}

.productDetailsWrapper {
    padding: 0px 0px 0px 30px;
}

.pTitle {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 5px;
}

.pReting {
    padding: 5px 0px;
}

.pReting small {
    color: #04091c;
}

.pAmountOfCalPro {
    font-size: 20px;
    padding: 5px 0px;
}

.subTitle {
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0px;
}

.pDetails {
    font-size: 18px;
    padding: 5px 0px;
}

.pPrice {
    font-weight: bold;
    font-size: 40px;
    padding: 15px 0px;
    margin-right: 50px;
}

.quantityWrapper {
    padding: 5px 0px;
}

.quantityWrapper input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 0px 20px;
    font-size: 22px;
}

.quantityWrapper input[type="number"] {
    text-align: center;
    font-size: 21px;
    border: 1px solid black;
    width: 65px;
}

.priceAndQuantityWrapper {
    display: flex;
    align-items: center;
}

.increment {
    border-radius: 0px 10px 10px 0px;
}

.decrement {
    border-radius: 10px 0px 0px 10px;
}

.addCartBtn {
    padding: 10px 60px;
    font-size: 28px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #179bd7;
    transition: 0.5s;
}

.addCartBtn:hover {
    background-color: #fff;
    color: #179bd7;
    border: 2px solid #179bd7;
}
