.productCard {
  width: 250px;
  border-radius: 10px;
  box-shadow: 3px 4px 10px -1px lightgrey;
  margin-bottom: 20px;
}

.cardImage {
  border-radius: 5px;
}

.productCard h5 {
  font-size: 17px;
  font-weight: bold;
}

.productCard p {
  padding: 2px 0px;
}

.checked {
  color: orange !important;
}

.starIcon {
  margin-right: 2px;
  color: #d8d5d5;
}

.productCard h3 {
  font-size: 21px;
  font-weight: bold;
  color: #179bd7;
}

.quantity {
  display: flex;
}

.quantity > h1 {
  margin: 5px 20px;
}
.quantity > button {
  background-color: #179bd7;
  color: white;
  height: 31px !important;
  width: 27px;
  font-size: 20px;
  border-radius: 5px;
}

.quantity > button:disabled {
  background-color: #5dccff;
}

@media screen and (max-width: 480px) {
  .productCard {
    width: 95%;
  }
  .cardImage {
    height: 150px !important;
  }
}
