.productCard {
    width: 340px;
    border-radius: 20px;
    box-shadow: 3px 4px 10px -1px lightgrey;
    margin-bottom: 20px;
}

.cardImage {
    border-radius: 20px;
}

.productCard h5 {
    font-size: 20px;
    font-weight: bold;
}

.productCard p {
    padding: 4px 0px;
}

.checked {
    color: orange !important;
}

.starIcon {
    margin-right: 2px;
    color: #d8d5d5;
}

.productCard h3 {
    font-size: 20px;
    font-weight: bold;
    color: #179bd7;
}

@media screen and (max-width: 480px) {
    .productCard {
        width: 95%;
    }
    .cardImage {
        height: 150px !important;
    }
}
