.container {
  min-height: 100vh;
}
.container > h1 {
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container > p {
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.containerspan {
  font-weight: 500;
  margin-right: 20px;
}
.profilePic {
}

.infoHeader {
  font-size: 20px;
  font-weight: 200;
  padding: 30px 0px 10px 0px;
  color: #a1a2a9;
  letter-spacing: 10px;
}

.userName {
  font-size: 40px;
  font-weight: 600;
}

.userAddress {
  font-size: 25px;
  color: #a1a2a9;
  font-weight: 100;
}
