/* .sidebar {
    width: 20.67%;
} */

.priceMenu {
    display: grid;
    grid: auto / 41px 42px 27px 42px;
    column-gap: 10px;
}

.priceSlector {
    color: #179BD7 !important;
}

.priceMenu input {
    border: 1px solid #179BD7;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

.sidebar h1 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 19px;
}

.sidebar h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 19px;
}

.sidebar .navbarCstm {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sidebar .admin-container {
    width: 100%;
}

.sidebar .sideMenu {
    margin-top: 52px;
}

.sidebar .sideMenu li a {
    color: black !important;
    text-decoration: none;
    cursor: pointer;
}

.starIcon {
    margin-right: 5px;
    visibility: hidden;
}

.checked {
    color: orange;
    visibility: visible;
}

.sidebar .sideMenu li {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    align-items: center;
    padding: 15px 0;
    color: white;
    border-radius: 0px;
}

/* .sidebar .sideMenu li.active {
    background-color: #179bd7;
    color: black;
    cursor: pointer;
} */

.sideMenu li.active a {
    color: #179bd7;
}