.signupContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.logo {
  padding: 10px 50px !important;
}
@media screen and (max-width: 480px) {
  .logo {
    padding: 10px 50px !important;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.celingSection1 {
  margin-top: -50px;
}
.celingImagehContainer {
  display: flex;
}
.celingSection2 {
  margin-top: -60px;
}
.formContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 7fr 3fr;
}
.tabSection {
  display: flex;

  align-items: flex-end;
  justify-content: center;
}
.formSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.formFirst {
  padding: 10px;
}
.submitBtn {
  background-color: blueviolet !important;
  color: white !important;
  margin-bottom: 10px;
}
