.mainScreen {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  justify-content: center;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.second > h1 {
  color: blueviolet;
}
.second > p {
  font-size: 22px;
}
